<li>
  <a href="#" id="ul_admin"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Administration</span></a>
  <ul id="admin_menu">
    <li>
      <%= link_to "Users", '/users' %>
    </li>
    <li>
      <%= link_to "Admin Login Page", admin_login_pages_path %>
    </li>
  </ul>
</li>
