<div id="contact_info">
  <h1><a href='/'> <img class="smlogo" src="/images/microhealth-logo.svg" /></a></h1>
  <h2>Contact Information</h2>
  <div class="complete_msg" id="contact_complete_msg">Must complete form!</div>

  <div class="row firstelement">
    <div class="col-xs-12 col-sm-2 col-md-2">
      <label for="person_name">Name:</label>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <input type="text" class="form-control ltgrey" id="person_name" name="person_name">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2">
      <label for="company">Company:</label>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <input type="text" class="form-control" id="company" name="company">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2">
      <label for="phone">Phone:</label>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <input type="email" class="form-control" id="phone" name="phone">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2">
      <label for="email">Email:</label>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    </div>
  </div>

  <div class="buttonrow">
    <button id="contact_back_btn" class="btn btn-primary">Back</button>
    <button id="contact_cancel_btn" class="btn btn-warning">Cancel</button>
    <button id="contact_next_btn" class="btn btn-success">Next</button>
  </div>
</div><!-- contact_info  -->