<style>
  .dropdown-menu{border-radius:0;border-bottom:2px solid #ADADAD;background:#FDDFB3}

</style>
<!--

<div class="row">
  <div class="col-xs-4">
    <span class="txt-color-white">mCMS <span class="hidden-xs"> – MicroHealth </span> © 2017</span>
  </div>

  <div class="col-xs-4">
      <span class="txt-color-white">
      This program is licensed under GPL v3 <br/>
      <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">https://www.gnu.org/licenses/gpl-3.0.html</a>
    </span>
  </div>

  <div class="col-xs-3">
      <span class="txt-color-white">
        Please send your feedback <br/>
        <A HREF="mailto:feedback@microhealthllc.com">feedback@microhealthllc.com</A>
      </span>
  </div>

</div>

-->
