<div class="jarviswidget jarviswidget-color-blueLight" id="<%= wid_id %>" data-widget-deletebutton="false"  data-widget-sortable='false' data-widget-editbutton="false">
  <header>
    <h2><strong><%= wid_title %></strong> </h2>
  </header>
  <div>
    <div class="widget-body no-padding">
      <div class="row">
        <div class="col-xs-12" style="overflow: hidden" id="<%= wid_id %>_container">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>