<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-success pull-right' %>
<%= link_to 'Back', companies_path, class: 'btn btn-warning pull-right' %>
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>